<div
  class="image-area-container"
  #imageContainer
  tabindex="0"
  (focus)="onFocus()"
  (blur)="onBlur()"
  (click)="onFocus()"
>
  <ng-container *ngIf="imageLink; else noLinkTemplate">
    <a [href]="imageLink" target="_blank" class="image-link-wrapper">
      <img
        #imageRef
        class="displayed-image"
        [src]="imageUrl || fallbackImg"
        alt="Gridster Image"
        (mouseenter)="onImageHover($event)"
        (mouseleave)="onImageLeave()"
      />
    </a>
  </ng-container>

  <ng-template #noLinkTemplate>
    <img
      #imageRef
      class="displayed-image"
      [src]="imageUrl || fallbackImg"
      alt="Gridster Image"
    />
  </ng-template>

  <div 
    *ngIf="showTooltip && imageLink" 
    class="link-tooltip"
    [style.left.px]="tooltipPosition.x"
    [style.top.px]="tooltipPosition.y"
  >
    <b>Go to </b>{{ getLinkDisplayName() }}
  </div>

  <span *ngIf="!imageUrl" class="placeholder">No image available</span>
</div>