:root {
  --Primary: rgba(229, 86, 26, 1);
}

.svg-default {
  color: rgba(229, 86, 26, 0.5);
  cursor: pointer;
  transition: color 0.3s ease;
}

.svg-default.active {
  color: rgba(229, 86, 26, 1);
}

.svg-default:hover{
    background-color: rgba(229, 86, 26, 0.1);
    color: rgba(229, 86, 26, 1);
}

[data-name] {
  position: relative;
}

[data-name]::before {
  content: attr(data-name);
  position: absolute;
  bottom: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);
  background: #000;
  color: #fff;
  border-radius: 4px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-family: 'Inter', sans-serif;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
  text-transform: capitalize;
  z-index: 1000;
  white-space: nowrap;
}

.replacingImage[data-name]::before {
  width: 50px;
  height: 15px;
  left: 10px;
  transform: none;
}

.linking[data-name]::before {
  width: 60px;
  height: 15px;
  left: 50px;
  transform: none;
}

.deleting[data-name]::before {
  width: 35px;
  height: 15px;
  left: 105px;
  transform: none;
}

[data-name]:hover::before {
  opacity: 1;
}

.action-bar {
    position: absolute;
    width: 178px;
    height: 40px;
    top: -50px;
    left: 0px;
    border-radius: 200px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.24);
    background: rgba(255, 255, 255, 1);
}

.replacingImage .svg-default{
    position: absolute;
    width: 40px;
    height: 32px;
    left: 24px;
    top: 4px;
    bottom: 4px;
    cursor: pointer;
}

#dash7 {
    position: absolute;
    left: 64px;
    top: 14px;
    bottom: 14px;
    height: 12px;
    width: 1px;
}

.linking .svg-default{
    position: absolute;
    top: 4px;
    bottom: 4px;
    height: 32px;
    width: 44px;
    cursor: pointer;
    left: 65px;
}

#dash8 {
    position: absolute;
    left: 109px;
    top: 14px;
    bottom: 14px;
    height: 12px;
    width: 1px;
}

.deleting .svg-default{
    position: absolute;
    top: 4px;
    bottom: 4px;
    height: 32px;
    width: 44px;
    cursor: pointer;
    left: 110px;
}