<!-- Custom right-click menu -->
<div id="editor-wrapper" #editorWrapper class="hidden">
  <div class="top-buttons">
    <button class="cancel" (click)="discardChanges()">DISCARD CHANGES</button>
    <button class="save" (click)="saveChanges()">SAVE SITE DASHBOARD</button>
  </div>
</div>

<ul id="context-menu" #contextMenu class="hidden">
  <li (click)="addImage()">Add Image (0 MB/5 MB)</li>
  <li (click)="addText()">Add Text</li>
</ul>

<input
  type="file"
  accept="image/*"
  style="display: none"
  #imageInput
  (change)="onImageSelected($event)"
/>

<app-gridster-wrapper
  *ngIf="viewMode !== null"
  [items]="items"
  [imageUrlMap]="imageUrlMap"
  (imageUrlMapChanged)="onImageUpdated($event)"
  (deleteItemRequested)="deleteItem($event)"
  (replaceImageRequested)="replaceImage($event)"
  (saveChangesRequested)="saveChanges()"
  (discardChangesRequested)="discardChanges()">
</app-gridster-wrapper>